@import "./theme.scss";

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(auto-fit, 100px);
  grid-gap: 5px;

  &-container {
    overflow: hidden;
    margin: auto;
  }

  &-zdjecie {
    display: flex;

    width: 100px;
    height: 100px;
    object-fit: cover;

    transition: all 0.2s linear;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: #ccc;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.9;
      filter: brightness(30%);
    }
  }
}

.fs-galeria {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000c;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-zdjecie {
    max-width: min(100vw, 1000px);
    max-height: min(100vh, 700px);
    overflow: hidden;
  }

  &-zamknij {
    width: 100vw;
    display: flex;

    button {
      padding: 2rem;
      background-color: #0000;
      color: #fff;
      border: none;

      cursor: pointer;

      &:hover {
        background-color: #fff2;
      }
    }
  }

  &-strzalki {
    width: 100%;
    justify-self: flex-end;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-strzalka {
    width: 50vw;
    padding: 2rem;
    background-color: #0000;
    color: #fff;
    border: none;

    cursor: pointer;

    &:hover {
      background-color: #fff2;
    }
  }
}
