@import "./theme.scss";

.onas {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  &-tekst {
    flex: 1 1 100px;

    padding: 2rem;
  }

  &-galeria {
    display: block;
    position: relative;

    height: 28rem;

    overflow: hidden;

    background-color: $foreground;
    color: $background;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
