@import "./theme.scss";
@import "./media.scss";

.section {
  box-shadow: $shadow-strong;
  margin: 2rem auto;
  max-width: 90vw;

  @include md {
    box-shadow: none;
    margin: none;
    max-width: unset;
  }
}

.padding {
  padding: 2rem;
}
