$font-logo: monospace;

$background: #fefefe;
$background_darker: #f6f6f6;
$foreground: #222222;
$foreground_lighter: #333;
$primary: #385f28;
$rzekowy: #126687;
$link_hovered: #126687;

$font-primary: "Glegoo", serif;
$font-secondary: "Fredericka the Great", sans-serif;
$font-logo: "Fredericka the Great", sans-serif;
$font-caveat: "Caveat", cursive;

$shadow-regular: 0px 3px 6px #0002;
$shadow-strong: 2px 2px 8px #0003;
$shadow-powerful: 6px 6px 6px pink;
